/* This styling is not set up for narrow screens, but considering we didn't cover flex and mobile responsiveness in week one, I'm hoping it's okay to leave it that way */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Shout-out to 'gill sans' and 'trebuchet' -- two of my favorite fonts! */

/* Begin 'header' related styling */
/* ------------------------------ */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* this can just be 'seo' class; theres nothing else with this class in the HTML */
.seo {
    color: #d9dcd6;
}

/* gave the nav a class to shrink selector chaining (not really necessary though!) */
.nav-bar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-bar ul li {
    display: inline-block;
    margin-left: 25px;
}

/* I'm torn about putting this is the 'header' section -- as it's so broad -- but for this site, it's the only place with 'a' tags */
a {
    color: #ffffff;
    text-decoration: none;
}

/* added this for UX improvement -- my concern is the company may not want me freelancing, esp. on the color choice */
a:hover {
    color: rgb(241, 255, 110);
    font-size: 21px;
}
/* -------------------------------- */
/*  END of 'header' related styling */

p {
    font-size: 16px;
}

/* an issue with taking the 'url' out of this and putting into the HTML, I can't get it to chop off the top bit of the picture -- to be continued.. */
.hero img {
    height: 100%; /* was 800px, but with the url moved from CSS to HTML, this warped the dimensions */
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* I believe the following four class selectors' styling can stay as is */
/* -------------------------------------------------------------------- */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* -------------- */
/* END of 'as is' */


/* Begin the 'content' section styling */
/* ----------------------------------- */

/* A former chunk of 3 (for each 'content' article), now consolidated into one class */
.single-content-piece {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* A former chunk of 3 (for each 'img' in the 'content' articles), now consolidated into one class */
.single-content-piece img {
    max-height: 200px;
}

/* A former chunk of 3 (for each 'h2' in the 'content' articles), now consolidated into one class */
.single-content-piece h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* -------------------------------- */
/* END of 'content' section styling */


/* Begin the 'benefits' section styling */
/* ------------------------------------ */

/* A former chunk of 3 (for each 'benefit' article), now consolidated into one class */
.single-benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* A former chunk of 3 (for each 'h3' in the 'benefit' articles), now consolidated into one class */
.single-benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* A former chunk of 3 (for each 'img' in the 'benefit' articles), now consolidated into one class */
.single-benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* --------------------------------- */
/* END of 'benefits' section styling */


/* Begin 'footer' related styling (to end) */
/* --------------------------------------- */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Added a _bit_ of padding because the 'h3' and the 'p' looked a little cramped */
footer h3 {
    font-size: 20px;
    padding-bottom: 5px;
}
